* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	background: rgb(247, 223, 235);
}

.superior {
	display: block;
	height: 30px;
	position: absolute;
	padding-top: 0;
	margin-top: 0;
}

header {
	display: block;
	padding-top: 0;
	margin-top: 0;
}
.container {
	display: inline-block;
	height: 140px;
	width: 100%;
	background: #f8e497 url("imágenes/fondoHeader.png");
	position: fixed;
	top: 0;
	z-index: 1;
}

.container img {
	width: 140px;
	height: 140px;
	position: relative;
	left: 150px;
	top: 0;
}

.menu {
	display: inline-block;
	text-align: end;
}

span {
	position: relative;
	left: 500px;
	top: -70px;
	bottom: 70px;
	padding: 10px;
}

h2 {
	padding: 10px;
}

span h2:hover {
	background-color: rgb(239, 104, 252);
	text-shadow: #fa1b1b;
	border-radius: 50px;
}

a {
	text-decoration: none;
}

.cuerpo {
	position: relative;
	height: 508px;
	display: block;
	background: rgb(253, 162, 249);
	padding-top: 142px;
}

.cuerpo div {
	height: auto;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 40px;
	padding-top: 0;
}

.cuerpo h2 {
	margin-top: 80px;
	margin-left: 145px;
}
.cuerpo p {
	margin-top: 40px;
	font-size: 15px;
	text-align: center;
	margin-left: 150px;
	margin-right: 300px;
}

.productos span {
	display: inline-block;
	left: 30px;
	margin-top: 20px;
	padding-left: 40px;
	height: 200px;
	width: 200px;
}

.productos h4 {
	margin-top: 80px;
	margin-left: 15px;
}

.productos img {
	height: 150px;
	width: 150px;
	border-radius: 20px;
	object-fit: cover;
	z-index: 0;
}

.productos img:hover {
	cursor: pointer;
	box-shadow: 4px 4px rgb(179, 4, 179);
}

li {
	margin-left: 50px;
	list-style: none;
}
.pieDePagina {
	margin-top: 255px;
	position: relative;
	padding-top: 10px;
	display: block;
	height: 45px;
	background: rgba(248, 18, 18, 0.952);
}

#copyright {
	display: inline-block;
	color: white;
	padding-left: 100px;
	margin-top: 0;
	padding-top: 10px;
}

#contacto_pieDePagina {
	display: inline;
	color: white;
	margin-left: 200px;
	font-size: 20px;
	position: relative;
	padding: 5px;
}

.pieDePagina h5 > a {
	display: inline;
	margin-left: 200px;
	color: white;
	background: transparent;
	font-size: large;
	border-radius: 50px;
	padding: 5px;
}
#inicio_pieDePagina {
	display: inline-block;
	color: white;
	margin-left: 200px;
	padding: 5px;
}

#inicio_pieDePagina:hover {
	cursor: pointer;
	background: rgb(247, 63, 63);
	border-radius: 50px;
}
#contacto_pieDePagina:hover {
	cursor: pointer;
	background: rgb(247, 63, 63);
	border-radius: 50px;
}
