* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header - menu */

.navbar {
	background: rgb(230, 49, 76);
}

.logo {
	width: 65px;
	margin-left: 1rem;
	border-radius: 100%;
}

.logo:hover {
	cursor: pointer;
	transform: scale(1.02);
	box-shadow: 0 0 20px rgb(202, 234, 247), 0 0 40px rgba(38, 104, 127, 3);
}

.navbar-nav a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 300;
	text-transform: uppercase;
}

.navbar-nav a:hover {
	color: yellow !important;
}

.navbar-nav li:hover {
	cursor: pointer;
	background-color: rgb(10, 10, 10);
	border-radius: 100px;
}

/* Main */

.baner {
	height: 90vh;
	background-image: url(imagenes/slide1.jpg);
	object-fit: cover;
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.baner::before {
	content: " ";
	background: rgba(92, 79, 77, 0.6);
	position: absolute;
	width: 100%;
	height: 90vh;
	left: 0;
}

.span_baner {
	font-family: "Nunito" !important;
	color: white;
	font-weight: 700;
	font-size: 4rem;
	text-transform: uppercase;
	position: absolute;
	margin-top: 10rem;
	margin-left: 2rem;
	text-shadow: 0 3px rgb(251, 2, 2), 0 0 10px rgba(251, 2, 4, 2),
		0 0 20px rgb(251, 6, 6);
}

.p_baner {
	font-family: "Nunito" !important;
	font-weight: 200;
	color: white;
	font-size: 2rem;
	text-transform: uppercase;
	position: absolute;
	margin-top: 13rem;
	margin-left: 2rem;
	text-shadow: 0 3px rgb(251, 2, 2), 0 0 10px rgba(251, 2, 4, 2),
		0 0 20px rgb(251, 6, 6);
}

.personas,
#personas-p {
	font-family: "Nunito" !important;
	color: black;
	text-shadow: 0 0 3px #9893f9 !important;
	padding-top: 2rem;
	padding-bottom: 1.5rem;
	font-size: 2rem;
	margin-left: 1rem;
}

.carousel-item img {
	width: 100%;
	height: 85vh;
	object-fit: cover;
	object-position: center center;
}

.carousel-item p {
	color: #fff;
	text-transform: uppercase;
	font-size: xx-large;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}

/* Aplicación de estilo experimental (efecto neon)*/

.titulo_paginas {
	color: #fff;
	text-transform: uppercase;
	font-size: xx-large;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	text-shadow: 0 0 5px rgb(251, 7, 7), 0 0 10px rgba(251, 7, 7, 3),
		0 0 20px rgba(253, 104, 127, 1), 0 0 40px rgba(253, 104, 127, 3),
		0 0 80px rgba(253, 104, 127, 1), 0 0 90px rgba(253, 104, 127, 3),
		0 0 100px rgba(253, 104, 127, 1), 0 0 140px rgba(253, 104, 127, 3),
		0 0 180px rgba(253, 104, 127, 3);
}

#nosotros {
	background-image: url(imagenes/slide4.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#row_nosotros {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #faf0ab;
}

.p_main {
	font-style: italic;
	font-size: x-large;
	letter-spacing: 1.5px;
	background-color: #8191ae;
	background-size: 100vh;
}

.btn-pedido {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	padding: 5px;
	background-color: black;
	border-radius: 50px;
}

.btn-pedido:hover {
	background-color: rgb(253, 253, 0);
	border-radius: 50px;
	color: black;
}

.bi {
	font-size: 25px;
	background-color: black;
	border-radius: 100%;
	padding: 5px;
	color: white;
}

.bi:hover {
	background-color: #f9f90a;
	color: black;
}

/* Footer */

.pieDePagina {
	background-color: rgb(230, 49, 76) !important;
}

#row_nosotros i {
	font-size: 40px;
	padding: 4px;
	color: #f9f90a;
	border-radius: 100%;
	background-color: black;
	right: 2rem;
	z-index: 120;
}

#row_nosotros i:hover {
	cursor: pointer;
	color: #f9f90a;
}

/* Productos */

#titulo_paginas1 {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-image: url(imagenes/FrutillaAgua.jpeg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

#fondo-productos,
#fondo-productos2 {
	background-color: #f7fa90;
}

.card {
	min-width: 15rem !important;
	max-width: 15rem !important;
	text-align: center;
}

#img-card-1,
#img-card2,
#img-card,
#img-card3,
#img-card4,
#img-card-2,
#img-card-3,
#img-card-4,
#img-card-5,
#img-card-6,
#img-card-7,
#img-card-8,
#carouselExampleFade-2 img,
#carouselExampleFade-3 img {
	object-fit: cover;
	height: 260px !important;
}
.card-text {
	font-family: 'Nunito';
	font-size: larger;
}

#carouselExampleFade img {
	width: 250px !important;
	height: 230px !important;
}

#final {
	background-color: #fac587;
}

/* Horarios */

#horarios {
	background-image: url(imagenes/slide4.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.row-horarios {
	justify-content: center;
}

.row-horarios {
	background-color: rgb(255, 133, 133);
}

.bi-2 {
	font-size: 5rem;
}
/* Contacto */

#contacto {
	background-image: url(imagenes/slide6.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.section_3 {
	background-color: #faf0ab;
}

.contacto {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacto h1 {
	display: block;
	font-size: 32px;
	text-align: center;
	color: rgb(230, 49, 76);
	font-family: "Nunito";
}

.p-contacto {
	font-family: "Nunito";
	font-weight: 400;
	color: #73706a;
	font-size: 18px;
	line-height: 28px;
}

/* Formulario de contacto */

form {
	margin: 10px auto;
	width: 400px;
}

input,
textarea {
	width: 380px;
	height: 27px;
	padding: 10px;
	margin-top: 5px;
	font-size: 10px;
	color: black;
}

textarea {
	height: 150px;
}


/* Realize lo mas que pude en los tiempos disponibles que tuve, debido a complicaciones familiares que estoy transcurriendo. Muchas gracias. */
